<div class= "container-new-booking">
 <div class="your-booking">
    <h1>Your booking</h1>
  </div>
  <div class="reservation">
    <div class="your-item">
      <p>Item:</p>
      <h2><%= @item.name %></h2>
    </div>

    <div class="dates">
      <div>
        <p>Choose your dates:</p>
        <%=form_with model: @booking do |f| %>
          <div data-controller="price-calculator" data-price-calculator-price-value="<%= @item.price_per_day %>">
            <%= f.text_field :start_date,
                        as: :string,
                        data: {controller: "calendar", action:"input->price-calculator#count", price_calculator_target:"input"},
                      class:"form-control", placeholder:"Select dates..."%>
            <%= f.hidden_field :price, data: { price_calculator_target: 'priceField' } %>
            <p>Total for <span data-price-calculator-target="days">-</span> days:</p>
            <p class="total"><strong data-price-calculator-target="total" >- </strong> €</p>
          </div>
          <% if current_user %>
            <%= f.submit "Confirm my booking", class:"confirm"  %>
          <% else %>
            <p>Please log in to book!</p>
          <% end %>
        <%end%>
      </div>
    </div>

  </div>
  <%= link_to "Sign in", new_user_session_path, class: "button-simple fs-6" %>
</div>
