<div class= "container-new-booking">
 <div class="your-booking">
    <h1>Your booking</h1>
  </div>

  <div class="your-item">
    <p>Item:</p>
    <h2><%= @item.name %></h2>
  </div>

  <div class="dates">
    <div>
      <p>Choose your dates:</p>
      <%=form_with model: Booking.new do |f| %>
        <%= f.text_field :start_date,
                    as: :string,
                    data: {controller: "calendar"},
                   class:"form-control", placeholder:"Select dates..."%>
        <p>Total: <strong><%= @item.price_per_day %> *  €</strong></p>
        <%= f.submit "Confirm my booking", class:"confirm", data: {controller: "price_calculator"}%>
      <%end%>
    </div>

  </div>
  <div class="sign-in">sign-in</div>


</div>
