<h1 class="header">My bookings</h2>

<div class="space-between-container" style="width: 360px;">
  <h4 class="align-self-center" style="margin-left: 16px;"><%= @user.first_name + " " + @user.last_name %></h4>
  <%= link_to new_item_path do %>
    <div class="button-important smaller-p">Add item</div>
  <% end %>
</div>

<section class="items-list">
  <% if @bookings.any? %>
    <ul>
      <% @bookings.each do |booking| %>
        <%= link_to item_path(booking.item_id) do %>
          <li class="items-li">
            <div class="flex-items">
              <div class="left-text" style="margin: 8px 0 0 8px;">
                <h4 class="item-name" style="margin-top: -12px;"><%= booking.item.name %></h4>
                <p class="smaller-p" style="margin-top: -4px;"><%= booking.start_date.strftime('%e %B') %> to<br><%= booking.end_date.strftime('%e %B %y') %></p>
              </div>
              <div>
                <%= link_to '#' do %>
                  <p class="button-simple smaller-p" style="margin-top: 0px;">Edit</p>
                <% end %>
                <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <p class="button-simple smaller-p" style="margin-top: 4px;">Delete</p>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p class="border-horizontal">You don't have any bookings yet.</p>
  <% end %>
</section>

<section>
    <%= link_to my_items_path do %>
      <p class="button-important smaller-p" style="width: 120px; margin: 0 auto;">My items</p>
    <% end %>
</section>

<%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
  <p class="logout"><strong>Log out</strong></p>
<% end %>
