<section class="search-section">
  <%= link_to search_path do %>
      <i class="bi bi-search search-i"></i>
      <div>
        <p id="item-name"><strong><%= params[:item_name]&.capitalize %></strong></p><br>
        <p id="item-info"><%= params[:item_location]&.capitalize %> · <%=  params[:item_dates]&.capitalize %></p>
      </div>
  <% end %>
</section>

<section class="items-list">
  <ul>
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <li class="items-li">
          <%#<%= image_tag(item.image_url, alt: 'cat skipping a rope') %>
          <%= cl_image_tag(item.photo.key, alt: item.description) %>
          <div class="flex-items">
            <div class="left-text">
              <h4 class="item-name"><%= item.name %></h4>
              <p><%= item.description %></p>
              <p style="color: #797979;"><%= item.location %></p>
            </div>
            <h5><%= item.price_per_day %>€</h5>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
