<div class="spacer"></div>
<h2 class="bigger-h2">List an item</h2>
<%= form_with model: @item do |f| %>
  <%= f.text_field :name, placeholder: "What is it?", class: "input" %><br>
  <%= f.text_area :description, placeholder: "Please describe it", class: "input" %><br>
  <%= f.text_field :location, placeholder: "Where is it?", class: "input" %><br>
  <p style="margin-top: 20px;"><strong>Price</strong></p>
  <div class="space-between-container">
    <p>5€</p><p>100€</p>
  </div>
  <%= f.range_field :price_per_day, in: 5..100, class: "scroll" %><br>
  <%= f.submit "Add item", class: "button-important", id: "add" %>
<% end %>
